:root {
    --orange: #e85d04;
    --dark-orange: #a82302;
    --text-color: #6c757d;
    --text-dark: #212529;
    --white: #FFFFFF;
    --extra-light:#f5f5f5;                 --light: #d5d5d5;
    --dark: #44425A;
    --font-family: "Poetsen One", sans-serif;
    --font-family1: "Jacquard 12", system-ui;
    --blue: #0084ff; 
  }
  
  /* RESET CSS PROPERTIES */
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  html {
    font-size: 20px;
    scroll-behavior: smooth;
  }
  
  /* NAVIGATION BAR */
  #home {
    height: 100px;
    background-color: var(--blue);
    border: 5px solid rgb(0, 8, 15);
  
  }
  #home img {
    padding: 1px 35px;
    height: 100px; 
    vertical-align: middle;
  
  }
  #home nav {
    display: inline;
    padding: 10px 0;
    vertical-align: middle;
  }
  #home nav a {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-dark);
    font-family: var(--font-family);
  margin: 0 10px;
  
  }
  #home nav a:hover{
    color: var(--dark);
  }
  /* BANNER */
  .banner{
    width: 100%;
    height: calc(100vh - 100px);
  }
  .banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  
  }
  /*#about, #courses, #teachers, #contact{
    height: 800px;
  } */
  .content {
    height: 800px;
    border: 3px solid var(--text-dark);
    background-color: var(--blue);
    padding: 2rem 1rem ;
  }
  .content h1 {
    text-align: center;
    color:var(--text-dark);
    font-size: 1.5rem;
    font-family: var(--font-family1);
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  .content p{
    color: var(--text-dark);
    font-family: var(--font-family1);
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
  
  }
  footer{
    height: 200px;
    background-color: var(--text-dark);
    text-align: center;
    color: var(--white);
  }
 
  